<% const pageName = 'New message'; %>
<%- include('../partials/layout-start', { pageName }) %>
<%- include('../partials/header', { pageName }) %>

<form action="/message" method="post" class="standard-form">
  <input
    name="title"
    aria-label="Title"
    required
    maxlength="<%= MAX_TITLE_LENGTH %>"
    placeholder="Title"
    value="<%= locals.fields?.title %>"
  >

  <textarea
    name="content"
    class="message-input"
    aria-label="Message"
    required
    maxlength="<%= MAX_MESSAGE_LENGTH %>"
    placeholder="Say something..."
  ><%= locals.fields?.content %></textarea>

  <%- include('../partials/form-errors') %>

  <div class="cancel-submit-buttons">
    <a href="/" class="cancel-button button">Cancel</a>
    <button type="submit">Post message</button>
  </div>
</form>

<%- include('../partials/layout-end') %>
