<% const pageName = 'Member access'; %>
<%- include('../partials/layout-start', { pageName }) %>
<%- include('../partials/header', { pageName }) %>

<form action="/member" method="post" class="standard-form">
  <p class="member-form-question-context">
    In JavaScript, there are 6 falsy values, including <code>false</code>,
    <code>null</code>, <code>undefined</code>, <code>NaN</code>, and
    <code>0</code>.
  </p>
  <label for="answer">What is the other falsy value?</label>
  <input
    type="text"
    name="answer"
    id="answer"
    value="<%= locals.fields?.answer %>"
  />

  <%- include('../partials/form-errors') %>

  <div class="cancel-submit-buttons">
    <a href="/" class="cancel-button button">Cancel</a>
    <button type="submit">Submit answer</button>
  </div>
</form>

<%- include('../partials/layout-end') %>
