<% const pageName = 'Server error'; %>
<%- include('../partials/layout-start', { pageName }) %>
<%- include('../partials/header', { pageName }) %>

<main>
  <p>
    Server error <%= error.statusCode %>:
    <span class="error"><%= error.message %></span>
  </p>
</main>

<%- include('../partials/layout-end') %>
