<% const pageName = 'Sign up'; %>
<%- include('../partials/layout-start', { pageName }) %>
<%- include('../partials/header', { pageName }) %>

<form action="/sign-up" method="post" class="signup-form">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    autocomplete="username"
    required
    minlength="<%= MIN_USERNAME_LENGTH %>"
    maxlength="<%= MAX_USERNAME_LENGTH %>"
    value="<%= locals.fields?.username %>"
  />

  <label for="display-name">
    Display name
    <span class="field-annotation">(optional)</span>
  </label>
  <input
    type="text"
    name="displayName"
    id="display-name"
    minlength="<%= MIN_DISPLAY_NAME_LENGTH %>"
    maxlength="<%= MAX_DISPLAY_NAME_LENGTH %>"
    value="<%= locals.fields?.displayName %>"
  />

  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    autocomplete="new-password"
    required
    minlength="<%= MIN_PASSWORD_LENGTH %>"
  />

  <label for="password-confirmation">Confirm password</label>
  <input
    type="password"
    name="passwordConfirmation"
    id="password-confirmation"
    autocomplete="new-password"
    required
  />

  <%- include('../partials/form-errors') %>

  <div class="cancel-submit-buttons">
    <a href="/" class="cancel-button button">Cancel</a>
    <button type="submit">Sign up</button>
  </div>
</form>

<%- include('../partials/layout-end') %>
